parameters:
	ignoreErrors:
		-
			message: "#^Illuminate\\\\Support\\\\Facades\\\\Blade facade should not be used\\.$#"
			count: 1
			path: src/Commands/ViewLatestRatesCommand.php

		-
			message: "#^Parameter \\#1 \\$value of function intval expects array\\|bool\\|float\\|int\\|resource\\|string\\|null, mixed given\\.$#"
			count: 1
			path: src/ExchangeRateProviders/FixerProvider.php

		-
			message: "#^Worksome\\\\Exchange\\\\Facades\\\\Exchange facade should not be used\\.$#"
			count: 1
			path: src/Facades/Exchange.php

		-
			message: "#^Parameter \\#1 \\$value of function intval expects array\\|bool\\|float\\|int\\|resource\\|string\\|null, mixed given\\.$#"
			count: 1
			path: src/Support/ExchangeRateManager.php

		-
			message: "#^Parameter \\#1 \\$value of function strval expects bool\\|float\\|int\\|resource\\|string\\|null, mixed given\\.$#"
			count: 2
			path: src/Support/ExchangeRateManager.php
