<?xml version="1.0" encoding="UTF-8"?>
<phpunit
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:noNamespaceSchemaLocation="vendor/phpunit/phpunit/phpunit.xsd"
    bootstrap="vendor/autoload.php"
    colors="true"
    cacheDirectory=".phpunit.cache"
>
    <groups>
        <exclude>
            <group>integration</group>
        </exclude>
    </groups>
    <testsuites>
        <testsuite name="Worksome Test Suite">
            <directory>tests</directory>
        </testsuite>
    </testsuites>
</phpunit>
